* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main {
    display: flex;
    width: 45vw;
    background-color:slategrey ;
    gap: 30px;
    border-radius: 10px;
    position: relative;
}

#logo {
    position: absolute;
    background-color: black;
    width: 500px;
    opacity: .4;
    top: 150px;
}

#logo img {
    height: 220px;
    margin-left: 30%;
}

#main img {
    border-radius: 10px;
    filter: drop-shadow(3px 0px 3px black);
}

#form > label {
    display: block;
}

#form > input {
    width: 50%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#form {
    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    padding-top: 50px;
    height: 33%;
}

#form > h1 {
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
}

.contain > label {
    display: block;
}



#info pre {
    font-size: 18px;
}

#info {
    height: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#formfoot button{
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    background-color: rgb(19, 65, 19);
}

#formfoot button:hover {
    color: #134113;
    background-color: #e0e0e0;
}

.contain input {
    padding: 5px;
    background-color:rgb(206, 206, 206);
    border-radius: 10px;
}

.contain input:valid {
    border: 2px solid rgb(19, 65, 19);
}
.contain input:invalid {
    border: 2px solid rgb(117, 54, 54);
}

a {
    text-decoration: none;
    color: rgb(19, 65, 19);
}

.contain input:focus {
    background-color:rgb(19, 65, 19);
    filter: drop-shadow(2px 2px 5px black)
}